{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'calendarLiMi.css' %}">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}" >
    <title>Create Game</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="{% static 'django_select2/django_select2.css' %}" rel="stylesheet">
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block day %}
    {% endblock %}
        <style>
        .select2-search__field {
            width: 100% !important;
        }
    </style>
    <form class="new-event-form" id="game_form" method="POST" >
        {% csrf_token %}
        {% if game_form %}
            {% for field in game_form %}
                <div class="add-event-form-divs">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <span class="help-text">{{ field.help_text }}</span>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>Formularz nie został przekazany.</p>
        {% endif %}
        <button>Add</button>
    </form>
        <script>
        (function($) {
            $(document).ready(function() {
                $('.django-select2').djangoSelect2();
            });
        })(jQuery);
    </script>
    
    <section class="sidebar-nav">
        <div class="navigation">
            <button class="create-new-event" id="create-new-event-button">Add new game</button>
            <div class="events">
                <label for="Training"><input type="checkbox" class="checkbox-event sports" id="Training" name="Training" checked>Training</label>
                <label for="Friendly Match"><input type="checkbox" class="checkbox-event social" id="Friendly Match" name="Friendly Match" checked>Friendly Match</label>
            </div>
            {% block day-week-nav %}
            {% endblock %}
        </div>
{#        <button class="create-new-event" id="create-new-event-button">Add new game</button>#}
{#        {% block add_court %}#}
{#        {% endblock %}#}
        <div class="settings-and-logout">
            <div class="events">
                <div class="person" id="person_1">
                    <div class="avatar">
                        <img src="{% static 'avatars/Ola.png' %}" alt="Ola picture">
                    </div>
                </div>
                 <div class="nickname">
                     <span class="name">{{ request.user.username }}</span>
                 </div>
            </div>
            <div>
                <button class="not-enhanced-buttons">Settings</button>
            </div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="not-enhanced-buttons">Log out</button>
            </form>
        </div>
    </section>
</body>
<script src="{% static 'JS/createNewEvent.js' %}"></script>
</html>