<!DOCTYPE html>
<html lang="pl">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/calendarLiMi.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}">
    <title>Create Game</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="{% static 'django_select2/django_select2.css' %}" rel="stylesheet">
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    <style>
        .select2-search__field {
            width: 100% !important;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <section class="sidebar-nav">
        <div class="navigation">
            <div class="views-nav">
                {% block day-week-nav %}
                {% endblock %}
            </div>
            <div class="events">
                <label for="Training"><input type="checkbox" class="checkbox-event Training" id="Training" name="Training" checked>Training</label>
                <label for="Game"><input type="checkbox" class="checkbox-event Game" id="Game" name="Game" checked>Game</label>
            </div>
            <div class="create-new-stuff-buttons">
                <button class="create-new-event-button" id="create-new-game-button" type="button">Add a new game</button>
                {% if request.user.is_staff %}
                <button class="create-new-event-button" id="add-new-court-button" type="button">Add a new court</button>
                <button class="create-new-event-button" id="create-new-category-button" type="button">Add a new category</button>
                {% endif %}
            </div>
        </div>
        <form class="new-event-form" id="game_form" method="POST">
            {% csrf_token %}
            {% if game_form %}
                {% for field in game_form %}
                    {% if field.name != 'end_date_of_recurrence' %}
                    <div class="add-event-form-divs">
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <span class="help-text">{{ field.help_text }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Formularz nie został przekazany.</p>
            {% endif %}
            <div id="recurrence-end-date" style="display: none;">
                {{ game_form.end_date_of_recurrence.label_tag }} {{ game_form.end_date_of_recurrence }}
            </div>
            <button type="submit" name="submit_game">Add</button>
        </form>

        {% if request.user.is_staff %}
            <form class="new-event-form" id="court_form" method="POST">
                {% csrf_token %}
                {{ court_form.as_p }}
                <button type="submit" name="submit_category" value="true">Add Court</button>
            </form>
            <form class="new-event-form" id="category_form" method="POST">
                {% csrf_token %}
                {{ category_form.as_p }}
                <button type="submit" name="submit_category" value="true">Add Category</button>
            </form>
        {% endif %}
        <div class="settings-and-logout">
            <div class="events">
                <div class="person" id="person_1">
                    <div class="avatar">
                        <img id="avatar-image" src="{% if request.user.profile_picture %}{{ MEDIA_URL }}{{ request.user.profile_picture }}{% else %}{% static 'images/Ola.png' %}{% endif %}" alt="User's Profile Picture">
                    </div>
                </div>
                <div class="nickname">
                    <span class="name">{{ request.user.username }}</span>
                </div>
            </div>
            <div>
                <a href="{% url 'users_profile' %}" class="not-enhanced-buttons">Settings</a>
            </div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="not-enhanced-buttons">Log out</button>
            </form>
        </div>
    </section>
    {% block day %}
    {% endblock %}
    <script src="{% static 'JS/createNewEvent.js' %}"></script>
    <script src="https://kit.fontawesome.com/7146c5e507.js" crossorigin="anonymous"></script>
    <script src="{% static 'JS/events.js' %}"></script>
</body>
</html>