

{% load static %}
<!DOCTYPE html>
<html lang="pl">

{% block head %}
{% endblock %}

<body>
    <div class="login-left-side">
        <img class="logo" src="{% static 'images/logo-no-background.svg' %}" alt="LiMi logo">
        {% block loginLogout-left-side %}
        {% endblock %}
    </div>
    <div class="login-right-side">
         {% block loginLogout-right-side %}
         {% endblock %}
    </div>
    <script src="{% static 'JS/login_register_logout_messages.js' %}"></script>
</body>
</html>

