{% extends 'baseCalendar.html' %}
{% load static %}

{% block head %}
    <title>Day by Limi</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
{% endblock %}

{% block day-week-nav %}
        <a href="day" class="day-week-nav active-view">Day</a>
        <a href="week" class="day-week-nav">Week</a>
{% endblock %}

{% block day %}
<main>
    <header>
        <nav class="date-nav" id="date-nav-day">
            <button id="back-to-today" class="back-to-today">
                <i class="fa-solid fa-calendar-day"></i>
                <span>Back to today!</span>
            </button>
            <div class="change-date" id="change-date-day">
                <div class="nav-arrows prev-day-btn" data-date=""><i class="fa-solid fa-chevron-left"></i></div>
                <div class="day-with-date day">
                    <span id="current-date"></span>
                </div>
                <div class="nav-arrows next-day-btn" data-date=""><i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </nav>
    </header>
    <section class="calendar-with-timeline-container day">
        <div class="timeline">
            {% for hour in hours %}
            <div class="hour">{{ hour }}:00</div>
            {% endfor %}
        </div>
        <div class="day-grid-tile-container">
            <div class="day-grid-tile"></div>
                <div class="day-break-line" id="blank-day-break-line"></div>
                {% for breakline in breaklines %}
                    <div class="day-break-line" style="top: {{ breakline|add:1 }}00px;"></div>
                {% endfor %}
        </div>
        <div class="event-container" id="events">
        </div>
    </section>
</main>
    <script src="https://kit.fontawesome.com/7146c5e507.js" crossorigin="anonymous"></script>
    <script src="{% static 'JS/events.js' %}"></script>
{% endblock %}
