{% extends 'baseCalendar.html' %}
{% load static %}

{% block head %}
    <title>Day by Limi</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
{% endblock %}

{% block day-week-nav %}
    <div class="views-nav">
        <a href="day" class="day-week-nav active-view">Day</a>
        <a href="week" class="day-week-nav">Week</a>
    </div>
{% endblock %}

{% block day %}
<main>
    <header>
        <nav class="date-nav" id="date-nav-day">
            <div class="change-date" id="change-date-day">
                <div class="nav-arrows prev-day-btn" data-date="{{ prev_date }}"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="day-with-date day">
                    <span>{{ current_day }}</span>
                    <span id="current-date">{{ current_date }} {{ current_month }} {{ current_year }}</span>
                </div>
                <div class="nav-arrows next-day-btn" data-date="{{ next_date }}"><i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </nav>
    </header>
    <section class="calendar-with-timeline-container day">
        <div class="timeline">
            {% for hour in hours %}
            <div class="hour">{{ hour }}:00</div>
            {% endfor %}
        </div>
        <div class="day-grid-tile-container">
            <div class="day-grid-tile"></div>
                <div class="day-break-line" id="blank-day-break-line"></div>
                {% for breakline in breaklines %}
                    <div class="day-break-line" style="top: {{ breakline|add:1 }}00px;"></div>
                {% endfor %}
        </div>
        <div class="event-container">
            {% if events %}
                {% for event in events %}
                <div class="event" style="top: {{ event.margin_top }}%; height: {{ event.height }}%;">
                    <p>{{ event.name }}</p>
                    <p>{{ event.category.name }}</p>
                </div>
                {% endfor %}
            {% else %}
                <p>No events for this day.</p>
            {% endif %}
        </div>
    </section>
</main>
    <script src="https://kit.fontawesome.com/7146c5e507.js" crossorigin="anonymous"></script>
    <script src="{% static 'JS/events.js' %}"></script>
{% endblock %}
