<!DOCTYPE html>
<html lang="pl">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/calendarLiMi.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}">
    <title>Create Game</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="{% static 'django_select2/django_select2.css' %}" rel="stylesheet">
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    <style>
        .select2-search__field {
            width: 100% !important;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <section class="sidebar-nav">
        <div class="navigation">
            <div class="views-nav">
                {% block day-week-nav %}
                {% endblock %}
            </div>
            <div class="events">
                {% for category in categories %}
                <label for="{{ category.name }}">
                    <input type="checkbox"
                           class="checkbox-event"
                           id="{{ category.name }}"
                           name="{{ category.name }}"
                           checked
                           data-color="{{ category.color }}"
                           style="border-color: {{ category.color }};
                                  background-color: rgba({{ category.color|slice:':3'|add:',0.3' }});
                                  ">
                    {{ category.name }}
                </label>
                {% endfor %}
            </div>
            <div class="create-new-stuff-buttons">
                <button class="create-new-event-button" id="create-new-game-button" type="button">Add a new game</button>
                {% if request.user.is_staff %}
                <button class="create-new-event-button" id="add-new-court-button" type="button">Add a new court</button>
                <button class="create-new-event-button" id="create-new-category-button" type="button">Add a new category</button>
                {% endif %}
            </div>
        </div>
        <form class="new-event-form" id="game_form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="game_id" value="">
            {% if game_form %}
                <span class="close-button" id="closeGameFormButton">&times;</span>
                <div class="game-form-fields">
                    {% for field in game_form %}
                        {% if field.name != 'end_date_of_recurrence' %}
                            <div class="add-event-form-divs">
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                    <span class="help-text">{{ field.help_text }}</span>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>Formularz nie został przekazany.</p>
            {% endif %}
            <div id="recurrence-end-date" style="display: none;">
                {{ game_form.end_date_of_recurrence.label_tag }} {{ game_form.end_date_of_recurrence }}
            </div>
            <button type="submit" name="submit_game" id="add-game-button" class="create-new-event-button">Add</button>
            <button type="submit" name="update_game" id="update-game-button" style="display: none;">Update</button>
        </form>

        {% if request.user.is_staff %}
            <form class="new-event-form" id="court_form" method="POST">
                {% csrf_token %}
                {{ court_form.as_p }}
                <span class="close-button" id="closeCourtFormButton">&times;</span>
                <button type="submit" class="create-new-event-button add-court-category-buttons" name="submit_category" value="true">Add Court</button>
            </form>
            <form class="new-event-form" id="category_form" method="POST">
                {% csrf_token %}
                <span class="close-button" id="closeCategoryFormButton">&times;</span>
                {{ category_form.as_p }}
                <button type="submit" class="create-new-event-button add-court-category-buttons" name="submit_category" value="true">Add Category</button>
            </form>
        {% endif %}
        <div class="settings-and-logout">
            <div class="events">
                <div class="person" id="person_1">
                    <div class="avatar">
                        <img id="avatar-image" src="{% if request.user.profile_picture %}{{ MEDIA_URL }}{{ request.user.profile_picture }}{% else %}{% static 'images/Ola.png' %}{% endif %}" alt="User's Profile Picture">
                    </div>
                </div>
                <div class="nickname">
                    <span class="name">{{ request.user.username }}</span>
                </div>
            </div>
            <div>
                <a href="{% url 'users_profile' %}" class="not-enhanced-buttons">Settings</a>
            </div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="not-enhanced-buttons">Log out</button>
            </form>
        </div>
    </section>
    <div class="overlay" id="overlay"></div>
    <div id="confirmationModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close-button" id="closeModalButton">&times;</span>
            <p id="modalMessage">Are you sure you want to add the event?</p>
            <button id="confirmYes" class="modal-button">Yes</button>
            <button id="confirmNo" class="modal-button">No</button>
        </div>
    </div>
    {% block day %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/7146c5e507.js" crossorigin="anonymous"></script>
    <script src="{% static 'JS/events.js' %}"></script>
</body>
</html>