<!DOCTYPE html>
<html lang="pl">
{% load static %}
{% load widget_tweaks %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/courts.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="{% static 'django_select2/django_select2.css' %}" rel="stylesheet">
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Courts</title>
</head>

<body>
    <header>
        <nav>
            <button class="back-to-dashboard" onclick="window.location.href='{% url 'day' %}'">
                <i class="fa-solid fa-arrow-left"></i>
                <span>Back to Dashboard</span>
            </button>
        </nav>
    </header>

    <main class="main-content">
        <section class="courts-section">
            <span class="court-with-add-new">
                <h1>Courts</h1>
                {% if user.is_staff %}
                    <button class="add-new-court-button" id="add-new-court-button" type="button"><i class="fa-solid fa-plus"></i></button>
                {% endif %}
            </span>
            <ul class="courts-list">
                {% for court in courts %}
                    <li class="court-item">
                        <span class="court-info">
                            <span class="court-name">{{ court.name }}</span>:
                            <span class="court-address">{{ court.street }} {{ court.building_number }}</span>,
                            <span class="court-location">{{ court.postal_code }} {{ court.city }}, {{ court.country }}</span>
                        </span>
                        <span class="edit-delete">
                            <button class="edit-button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button class="delete-button">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </span>
                    </li>
                {% empty %}
                    <li>No courts available.</li>
                {% endfor %}
            </ul>

            {% if user.is_staff %}
                <form class="new-event-form" id="court_form" method="POST">
                    <span class="close-button" id="closeCourtFormButton">&times;</span>
                    <h2>Add a new court!</h2>
                    {% csrf_token %}
                    <div class="game-form-fields">
                        {{ court_form.as_p }}
                    </div>
                    <button type="submit" class="create-new-event-button add-court-category-buttons" name="submit_court" value="true" style="display: inline">Add Court</button>
                    <button type="submit" class="create-new-event-button add-court-category-buttons" name="update_court" value="true" style="display: none;">Update Court</button>
                </form>
            {% endif %}
        </section>
        <div class="overlay" id="overlay"></div>
    </main>

    <script src="https://kit.fontawesome.com/7146c5e507.js" crossorigin="anonymous"></script>
    <script src="{% static 'JS/courts.js' %}"></script>
</body>
</html>
