{% extends 'Tennis/baseCalendar.html' %}
{% load static %}

{% block head %}
    <title>Day by Limi</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
{% endblock %}

{% block day %}
<main>
    <header>
        <nav class="date-nav" id="date-nav-day">
            <button id="back-to-today" class="back-to-today">
                <i class="fa-solid fa-calendar-day"></i>
                <span>Back to today!</span>
            </button>
            <div class="change-date" id="change-date-day">
                <div class="nav-arrows prev-day-btn" data-date=""><i class="fa-solid fa-chevron-left"></i></div>
                <div class="day-with-date day">
                    <span id="current-date"></span>
                </div>
                <div class="nav-arrows next-day-btn" data-date=""><i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </nav>
    </header>
    <section class="calendar-with-timeline-container day">
        <div class="timeline">
            {% for hour in hours %}
            <div class="hour">{{ hour }}:00</div>
            {% endfor %}
        </div>
        <div class="day-grid-tile-container">
            <div class="day-grid-tile"></div>
                <div class="day-break-line" id="blank-day-break-line"></div>
                {% for breakline in breaklines %}
                    <div class="day-break-line" style="top: {{ breakline|add:1 }}00px;"></div>
                {% endfor %}
        </div>
        <div class="event-container" id="events">
        </div>
    </section>
    <div class="overlay" id="overlay"></div>
    <div id="eventDetailsModal" class="modal-content new-event-form" style="display: none;">
        <span class="close-button" id="closeGameDetailsButton">&times;</span>
        <div class="events-title-with-edit-delete">
            <h2 class="modal-title"></h2>
            <span class="edit-delete">
                <button class="edit-button">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="delete-button">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </span>
        </div>
        <p class="modal-start-time"></p>
        <p class="modal-end-time"></p>
        <p class="modal-category"></p>
        <p class="modal-court"></p>
        <p>Participants:</p>
            <ul class="modal-participants-list"></ul>
    </div>
</main>
{% endblock %}
