{% extends 'Tennis/baseLoginRegister.html' %}
{% load widget_tweaks %}

{% block head %}
    <title>Welcome to LiMi</title>
{% endblock %}

{% block loginLogout-left-side %}
    <form method="POST">
        {% csrf_token %}
        <div class="login-form-container">
            <div class="input-container">
                <i class="fas fa-user"></i>
                {{ form.username|add_class:"login-input" }}
            </div>
            <div class="input-container">
                <i class="fas fa-key"></i>
                {{ form.password|add_class:"login-input" }}
            </div>
        </div>
        <div class="login-button-container">
            <button type="submit">Sign In</button>
            <a href="{% url 'register' %}" class="login-or-sign-up">Sign up</a>
        </div>
    </form>
   {% if messages %}
        <ul class="messages" id="login-messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <ul class="messages" id="login-messages"></ul>
    {% endif %}
{% endblock %}


